html {
    box-sizing: content-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.main {
    max-width: 1000px;
    margin: 0px auto;
    padding: 30px;
}

.header {
    padding: 0 20px;
}

.section {
    background-color: white;
    margin: 15px 0;
}

.section__header {
    padding: 20px;
    border-bottom: 2px solid #eee;
    margin: 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 15px;
    border: 1px solid teal;
    border-radius: 5px;
}

.form__button {
    background-color: teal;
    color: white;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: #00c2c2;
}

.list {
    list-style: none;
    padding: 15px;
    margin: 0;
}

.list__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding: 10px;
}

.child-2 {
    flex-grow: 1;
    margin: 0 10px;
}

.list__element--done {
    text-decoration: line-through;
}

.list__button {
    height: 30px;
    min-width: 30px;
    border: none;
    border-radius: 5px;
}

.list__button--done {
    background-color: green;
    color: #eee;
}

.list__button--remove {
    background-color: red;
}

.list__button--image {
    height: 20px;
    width: 20px;
    padding-top: 5px;
}